.version.index /* version checker */
{
	color: #00000A;
	background-color: #7AC611;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1796.500000000026px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -871px;
	margin-bottom: -58px;
}

#pu107
{
	width: 0.01px;
	margin-left: -100px;
}

#u107
{
	z-index: 2;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	background: #224B57 url("../images/4.jpg") no-repeat left top;
}

#u107_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 734px;
	padding-bottom: 68px;
}

#u74
{
	z-index: 31;
	width: 280px;
	background-color: #D94A42;
	left: 826px;
	position: relative;
}

#pu158
{
	width: 0.01px;
	left: 563px;
	margin-top: 212px;
	position: relative;
}

#u158
{
	z-index: 22;
	width: 53px;
	position: relative;
	margin-right: -10000px;
}

#u138-3
{
	z-index: 3;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 85px;
}

#pu170-6
{
	width: 0.01px;
	left: 274px;
	margin-top: 64px;
	position: relative;
}

#u170-6
{
	z-index: 16;
	width: 382px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 1px;
	font-family: poiret-one, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#u171-6
{
	z-index: 10;
	width: 337px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 1px;
	font-family: poiret-one, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	left: 429px;
}

#u174-3
{
	z-index: 26;
	width: 5px;
	left: 732px;
	margin-top: 10px;
	position: relative;
}

#u175
{
	z-index: 33;
	width: 892px;
	height: 90px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
	left: 14px;
	margin-top: 45px;
	position: relative;
}

#u107-bw
{
	z-index: 2;
	height: 1404px;
}

#u139-4
{
	z-index: 6;
	width: 337px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 1px;
	font-family: poiret-one, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 1014px;
	left: 630px;
}

#u164
{
	z-index: 24;
	width: 52px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1091px;
	left: 630px;
}

#u150
{
	z-index: 29;
	width: 52px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1091px;
	left: 486px;
}

#u173-4
{
	z-index: 70;
	width: 883px;
	min-height: 35px;
	color: #000000;
	font-size: 34px;
	line-height: 43px;
	letter-spacing: 1px;
	font-family: poiret-one, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 1271px;
	left: 78px;
}

#pu209-3
{
	width: 0.01px;
	padding-left: 168px;
	padding-top: 62px;
	padding-right: 1128px;
	margin-left: -168px;
	margin-top: -533px;
}

#u209-3
{
	z-index: 74;
	width: 260px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: #17323E;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	font-size: 18px;
	line-height: 22px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -648px;
}

#u205
{
	z-index: 77;
	width: 260px;
	height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: #224B57;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -389px;
}

#u206
{
	z-index: 78;
	width: 260px;
	height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: #FEEECC;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -130px;
}

#u207
{
	z-index: 79;
	width: 260px;
	height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: #F0624A;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 130px;
}

#u208
{
	z-index: 80;
	width: 260px;
	height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: #D94A42;
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 388px;
}

#u211
{
	z-index: 81;
	width: 77px;
	position: fixed;
	top: 7px;
	left: 50%;
	margin-left: -41px;
}

#u221
{
	z-index: 87;
	width: 35px;
	position: fixed;
	top: 25px;
	left: 50%;
	margin-left: -519px;
}

#u217-4
{
	z-index: 83;
	width: 116px;
	min-height: 40px;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 1px;
	font-family: poiret-one, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 22px;
	right: 4px;
}

#pu228-4
{
	width: 0.01px;
	margin-left: 90px;
	margin-top: 47px;
}

#u228-4
{
	z-index: 43;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u229-4
{
	z-index: 47;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 313px;
}

#u230-4
{
	z-index: 51;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 626px;
}

#pamphletu296
{
	z-index: 55;
	width: 0.01px;
	height: 223px;
	margin-left: 20px;
	margin-top: 83px;
	position: relative;
}

#u297
{
	position: absolute;
	width: 293px;
}

#u297popup
{
	z-index: 56;
}

#u300
{
	z-index: 57;
	width: 293px;
	height: 223px;
	border-style: none;
	border-color: #999999;
	background-color: #D94A42;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u311-10
{
	z-index: 58;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 14px;
}

#u305
{
	z-index: 68;
	width: 294px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u307
{
	position: absolute;
	width: 292px;
	height: 222px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u307.PamphletThumbSelected
{
	width: 292px;
	height: 222px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#ppu231
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: -223px;
}

#pu231
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u231
{
	z-index: 34;
	width: 293px;
	height: 233px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/screen%20shot%202014-11-26%20at%20022219-u231-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u237
{
	z-index: 39;
	width: 292px;
	height: 351px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 19px;
	position: relative;
}

#u239
{
	z-index: 41;
	width: 292px;
	height: 269px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 14px;
	position: relative;
}

#pu233
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 313px;
}

#u233
{
	z-index: 35;
	width: 292px;
	height: 334px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u236
{
	z-index: 38;
	width: 292px;
	height: 227px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 16px;
	position: relative;
}

#u238
{
	z-index: 40;
	width: 292px;
	height: 293px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 14px;
	position: relative;
}

#pu234
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 626px;
}

#u234
{
	z-index: 36;
	width: 292px;
	height: 232px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u235
{
	z-index: 37;
	width: 292px;
	height: 327px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 18px;
	position: relative;
}

#u240
{
	z-index: 42;
	width: 292px;
	height: 293px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 14px;
	position: relative;
}

#u227
{
	z-index: 89;
	height: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #224B57;
}

#u227-bw
{
	z-index: 89;
	margin-top: 142px;
	height: 120px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 57px;
}

#page .verticalspacer
{
	clear: both;
}

