#{extends 'main.html' /}
#{set title:'Home' /}

 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clearfix colelem" id="pu107"><!-- group -->
     <div class="browser_width grpelem" id="u107-bw">
      <div id="u107"><!-- column -->
       <div class="clearfix" id="u107_align_to_page">
        <div class="clip_frame colelem" id="u74"><!-- image -->
         <img class="block" id="u74_img" src="@{'/public/images/screen1.jpg'}" alt="" width="280" height="51"/>
        </div>
        <div class="clearfix colelem" id="pu158"><!-- group -->
         <div class="clip_frame grpelem" id="u158"><!-- image -->
          <img class="block" id="u158_img" src="@{'/public/images/design.png'}" alt="" width="53" height="53"/>
         </div>
         <div class="clearfix grpelem" id="u138-3"><!-- content -->
          <p>&nbsp;</p>
         </div>
        </div>
        <div class="clearfix colelem" id="pu170-6"><!-- group -->
         <div class="clearfix grpelem" id="u170-6"><!-- content -->
          <p>WANT TO HAVE</p>
          <p>A PRODUCT?</p>
         </div>
         <div class="clearfix grpelem" id="u171-6"><!-- content -->
          <p>WANT TO GET IT</p>
          <p>AS SOON AS POSSIBLE?</p>
         </div>
        </div>
        <div class="clearfix colelem" id="u174-3"><!-- content -->
         <p>&nbsp;</p>
        </div>
        <div class="colelem" id="u175"><!-- simple frame --></div>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u139-4"><!-- content -->
      <p>WANT TO SHARE A DESIGN?</p>
     </div>
     <div class="clip_frame grpelem" id="u164"><!-- image -->
      <img class="block" id="u164_img" src="@{'/public/images/service.png'}" alt="" width="52" height="52"/>
     </div>
     <div class="clip_frame grpelem" id="u150"><!-- image -->
      <img class="block" id="u150_img" src="@{'/public/images/5.png'}" alt="" width="52" height="52"/>
     </div>
     <div class="clearfix grpelem" id="u173-4"><!-- content -->
      <p>We bring designers, users, 3D printers TOGETHER!</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu209-3"><!-- column -->
     <div class="clearfix pinned-colelem" id="u209-3"><!-- content -->
      <p>&nbsp;</p>
     </div>
     <div class="pinned-colelem" id="u205"><!-- simple frame --></div>
     <div class="pinned-colelem" id="u206"><!-- simple frame --></div>
     <div class="pinned-colelem" id="u207"><!-- simple frame --></div>
     <div class="pinned-colelem" id="u208"><!-- simple frame --></div>
     <div class="clip_frame pinned-colelem" id="u211"><!-- image -->
      <img class="block" id="u211_img" src="@{'/public/images/triplegrid25.png'}" alt="" width="77" height="55"/>
     </div>
     <div class="clip_frame pinned-colelem" id="u221"><!-- image -->
      <img class="block" id="u221_img" src="@{'/public/images/menu.png'}" alt="" width="35" height="20"/>
     </div>
     <div class="clearfix pinned-colelem" id="u217-4"><!-- content -->
      <p>LOG IN</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu228-4"><!-- group -->
     <img class="grpelem" id="u228-4" alt="Find products" width="154" height="41" src="@{'/public/images/u228-4.png'}"/><!-- rasterized frame -->
     <img class="grpelem" id="u229-4" alt="Find a designers" width="154" height="41" src="@{'/public/images/u229-4.png'}"/><!-- rasterized frame -->
     <img class="grpelem" id="u230-4" alt="I am a designer" width="154" height="41" src="@{'/public/images/u230-4.png'}"/><!-- rasterized frame -->
    </div>
    <div class="PamphletWidget clearfix colelem" id="pamphletu296"><!-- none box -->
     <div class="popup_anchor" id="u297popup">
      <div class="ContainerGroup clearfix" id="u297"><!-- stack box -->
       <div class="Container invi clearfix grpelem" id="u300"><!-- group -->
        <img class="grpelem" id="u311-10" alt="DEAR by NikkaKwok € 500
" width="170" height="95" src="@{'/public/images/u311-10.png'}"/><!-- rasterized frame -->
       </div>
      </div>
     </div>
     <div class="ThumbGroup clearfix grpelem" id="u305"><!-- none box -->
      <div class="popup_anchor">
       <div class="Thumb popup_element" id="u307"><!-- simple frame --></div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu231"><!-- group -->
     <div class="clearfix grpelem" id="pu231"><!-- column -->
      <div class="museBGSize colelem" id="u231"><!-- simple frame --></div>
      <div class="colelem" id="u237"><!-- simple frame --></div>
      <div class="colelem" id="u239"><!-- simple frame --></div>
     </div>
     <div class="clearfix grpelem" id="pu233"><!-- column -->
      <div class="colelem" id="u233"><!-- simple frame --></div>
      <div class="colelem" id="u236"><!-- simple frame --></div>
      <div class="colelem" id="u238"><!-- simple frame --></div>
     </div>
     <div class="clearfix grpelem" id="pu234"><!-- column -->
      <div class="colelem" id="u234"><!-- simple frame --></div>
      <div class="colelem" id="u235"><!-- simple frame --></div>
      <div class="colelem" id="u240"><!-- simple frame --></div>
     </div>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u227-bw">
     <div id="u227"><!-- simple frame --></div>
    </div>
   </div>
  </div>

  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&typeof $!=
"undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();(Muse.assets.outOfDate.length||Muse.assets.required.length)&&alert("Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.")})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
$('#u107').registerBackgroundPositionScrollEffect([{"in":[-Infinity,374.8],"speed":[0,2]},{"in":[374.8,Infinity],"speed":[0,1]}]);/* scroll effect */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.initWidget('#pamphletu296', function(elem) { new WebPro.Widget.ContentSlideShow(elem, {contentLayout_runtime:'stack',event:'mouseover',deactivationEvent:'mouseout_trigger',autoPlay:false,displayInterval:3000,transitionStyle:'fading',transitionDuration:400,hideAllContentsFirst:true,shuffle:false,enableSwipe:false,resumeAutoplay:true,resumeAutoplayInterval:3000,playOnce:false}); });/* #pamphletu296 */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
